/* Régles CSS générales */

@import url('https://fonts.googleapis.com/css?family=Pacifico');

html, body, main {
	width: 100%;
	margin: 0;
	padding: 0;
}

main {
	width: 100%;
}

section h2 {
	margin: 0;
	text-align: center;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	padding: 0;
}

i{
	margin-right: 0.5em;
}

hr
{
	width: 50%;
	max-width: initial;
	border: 0;
	border-color: #f05f40;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(166, 166, 166, 1), rgba(0, 0, 0, 0));
}

img {
	display: block;
	width: 100%;
}

.alert {
	position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-primary {
	color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert-success {
	color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
	color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-info {
	color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-dark {
	color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

.alert-warning {
	color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-primary .alert-link {
	color: #002752;
}

.alert-info .alert-link {
	color: #062c33;
}

.alert-link {
	font-weight: bold;
}

/* HEADER */

header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 5em;
	top: 0px;
	background-color: white;
	z-index: 2;
}

header > h1 {
	display: inline-block;
	margin: 0;
}

header h1 a {
	display: inline-block;
	height: 5em;
	height: 100%;
}

header h2 {
	display: inline-block;
	margin: 0;
	text-align: center;
	font-family: "Pacifico";
	font-size: 2em;
}

/* MENU */

nav {
	
}

nav ul {
	display: flex;
	align-items: center;
	height: 100%;
	margin: 0 0;
}

nav ul li {
	margin: 0 1.5em;
	line-height: 5em;
}

nav ul li a {
	padding: 0 0 0.4em 0;
	text-transform: uppercase;
	color: #5cadd3;
}

nav ul li a:hover {
	box-shadow: 0 0.1em 0 #4494bb;
}

nav ul li:first-of-type, #menu-left {
	display: none;
}

nav i {
	color: black;
}

/* ARTICLES */

#chapters {
	padding: 5em 0 2.5em 0;
}

#articles-container {
	display: flex;
	width: 70%;
	margin: 0 auto;
	flex-wrap: wrap;
}

.chapter {
	box-sizing: border-box;
	flex: 0 0 50%;
	margin: 3em auto;
}

.chapter:nth-child(3) {
	flex: 0 0 100%;
}

article h3 {
	text-align: center;
	margin: 0;
}

article p {
	text-align: justify;
}

#articles-container p {
	padding: 0 1em;
}

.read-more, .backlink {
	text-align: center;
}

.read-more a, .backlink a, input[type=submit] {
	display: inline-block;
	line-height: 1.25em;
	padding: 0.5625em 1.875em;
	border: 0.0625em solid #10a1de;
	background-color: #0e86ca;
	transition: background-color .2s,box-shadow .2s,background-color .2s,border-color .2s,color .2s;
	color: white;
}

.read-more a:hover, .backlink a:hover, input[type=submit]:hover{
	background-color: #00aeff;
	box-shadow: 0 0 rgba(0,0,0,0);
	cursor: pointer;
}

/* PAGE VIEW */

.backlink {
	padding: 5em 0;
}

article, #comments {
	width: 70%;
	margin: 0 auto;
}

#comments h3 {
	text-align: center;
}

.frame {
	box-sizing: border-box;
	border: solid black 0.0625em;
	padding: 1em;
	margin-bottom: 1em;
	box-shadow: 0.3125em 0.3125em 0.3125em grey;
}

/* LOGIN PAGE */

#login-container, #registration-container {
	width: 25%;
	margin: 2em auto;
	text-align: center;
	padding-bottom: 0;
}

#login-container form, #registration-container form {
	margin: 1.5em 0;
}

#login-container i, #registration-container i {
	margin: 0;
	color: grey;
	font-size: 1.5em;
}

label:hover {
	cursor: pointer;
}

#login-container div:first-of-type, #registration-container div:nth-of-type(2), #registration-container div:last-of-type {
	margin: 1.5em 0;
}

#login-container div:first-of-type, #login-container div:nth-of-type(2), #registration-container div:first-of-type, #registration-container div:nth-of-type(2), #registration-container div:nth-of-type(3), #registration-container div:nth-of-type(4) {
	display: flex;
}

#login-container div label, #registration-container div label {
	display: flex;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	border: solid grey 0.0625em;
	flex: 0 0 20%;
	background-color: #e9ecef;
}

#login-container div:first-of-type input, #login-container div:nth-of-type(2) input, #registration-container input[type=text], #registration-container input[type=email], #registration-container input[type=password]{
	flex: 0 0 80%;
}

#login-container div:last-child {
	margin: 1.5em 0 0 0;
}

#registration-container div:nth-of-type(3) {
	margin: 0 0 1.5em 0;
}

input[type=text], input[type=email], input[type=password] {
	box-sizing: border-box;
	height: 3em;
	font-size: 1.1em;
	text-align: center;
	border: solid grey 0.0625em;
}

input[type=submit] {
	padding: 0.7em;
	font-size: 1em;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
	outline: none;
	border: solid black 0.0625em;
}

/* FOOTER */

footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1rem;
	box-sizing: border-box;
	background-color: #343a40;
	color: white;
}

footer a {
	color: white;
}

footer ul {
	display: flex;
	justify-content: space-around;
	margin-bottom: 0;
}

footer ul li {
	line-height: 2em;
}